.graphics-container{
    display: grid;
    background-color:#eff0f2 ;
    grid-template-rows: 31% 31% 31%;
    gap:6px;
    padding: 5px;
    height: calc(100vh - 5rem);
}
.graphics-container-first-line{  
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:6px     
}
.graphics-container-second-line{  
    display:grid;
    grid-template-columns: 1.7fr 1fr 1fr;
    grid-template-rows: auto;
    gap:6px  
}
.graphics-container-third-line{
    display: grid;
    grid-template-rows: auto;
    
}
.filter-panel-container-content{
    display:grid;
    grid-template-columns: 1.7fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:6px
}

.filter-picker{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap:30px;   
}
.today-sales-container{
    padding: 6px;
    height: 98%;
    background-color: #fff;
}

.today-sales-title{
    font-size: 1rem;
}
.today-sales-pag{
    font-size: .7rem;
}
.today-sales-content{
    display: flex;
    padding: 5px;
    gap:5px;
    justify-content: space-evenly;
    margin-top:7px   
}
.today_total_sales, .today_total_order, .today_product_sold{
    width: 28%;
    height: 30% ;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.today-sales-content h2 {
font-size: 1rem;
}

.today-sales-content p{
    font-size: .7rem;
}

.today_total_sales{
   background-color:#FFE2E5 ;
  
}
.today_total_order{
   background-color:#FFF4DE ; 
  
}
.today_product_sold{
   background-color:#DCFCE7 ; 
  
}

.today-sales-img{
    width: 24px;
}

.today-sales-comparasion{
    color:dodgerblue;
    font-size:.7rem
}
.filterBtn{
    padding: 5px 15px;
    background-color: dodgerblue;
    color:white
}
.date-picker{
    display: inline-block;
    text-align: center;
    height: 25px;
}

