.graphics-container{
   
    display: grid;
    background-color:#eff0f2 ;
    
    gap:10px;
    padding: 10px;
}

.graphics-container-first-line{
   
    display:grid;
    grid-template-columns: 50% 50%;
    gap:10px
    
    
}
.graphics-container-second-line{
    
    display:grid;
    grid-template-columns: 1.7fr 1fr 1fr;
    gap:10px
    
}

.graphics-container-third-line{
    display: grid;
    
}



.filter-panel-container-content{
    display:grid;
    grid-template-columns: 1.7fr 1fr 1fr;
    gap:10px
}

.filter-picker{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    gap:30px;
    /* width: 400px; */
    
}

.today-sales-container{
    padding: 20px;
    height: 300px;
}
.today-sales-content{
    display: flex;
    padding: 10px;
    gap:15px;
    justify-content: space-evenly;
    margin-top:20px
    
    
}
.today_total_sales, .today_total_order, .today_product_sold{
    width: 33%;
    height: 170px ;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.today-sales-container{
    background-color: #fff;
}
.today_total_sales{
   background-color:#FFE2E5 ;
  
}
.today_total_order{
   background-color:#FFF4DE ; 
  
}
.today_product_sold{
   background-color:#DCFCE7 ; 
  
}

.today-sales-img{
    width: 32px;
}

.today-sales-comparasion{
    color:dodgerblue;
    font-size:.7rem
}

/* .select-picker{
    display: inline-block;
} */

.filterBtn{
    padding: 5px 15px;
    background-color: dodgerblue;
    color:white
}

.date-picker{
    display: inline-block;
    text-align: center;
    height: 25px;
}

